.myDiv1, .myDiv3{
  font-size: 18px;
  color: green;
  font-family: fantasy;
  color: rgb(10, 251, 236);
  background-color: rgb(7, 8, 87);
  padding: 12px;
}
.myDiv3{
  font-family: cursive;
  font-size: 22px;
  color:rgb(186, 194, 182)
}
.myDiv2{
  font-size: 14px;
  color: green;
  font-family: monospace;
  color: white;
  background-color: rgb(32, 2, 3);
  padding: 12px;
}

#myButton,#myButton2{
  border:2px solid black;
  padding: 12px;
}
